html{
    font-size: 62.5%;
    box-sizing: border-box;
    min-height: 100%;
    background-color: $amarillo-bg;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
        margin: 0;
        height: 100%;
        width: 100%;

        // &.fijar-body {
        //     overflow: hidden;
        // }
        
        // .contenainer-img{
        //         background-image: url('../../img/HeadsinSpace.png');
        //         background-size: cover;
        //         background-repeat: no-repeat;
        //         background-position: center;
        //         position: fixed;
            
        // }
}

p{
    font-size: 2rem;
    color: $negro;
}

.contenedor{
    max-width: 75rem;
    width: 95%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1, h2, h3{
    margin: 0;
}
h1{
    font-size: 4rem;
    font-weight: $bold;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 3rem;
}