.background-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 7rem;
    margin-top: .15rem;
    position: absolute;
    img {
        width: 4%;
    }
}

.header{
    position: relative;
    display:flex;
    margin: 3rem auto;
    max-width: 50%;
    background: $rosa;
    border-radius: 4px;
    @include shadow;
    z-index: 1000000000000;
    .contenido-header {
        padding: 1.2rem 0;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        font-family: $fuenteHeading;
        font-size: 5rem;
        letter-spacing: .3rem;
        color: $amarillo-bg;
        margin-bottom: 1rem;
        text-align: center;
        cursor: pointer;
        @include tablet {
            margin-bottom: 0;
        }
    }

    &.fijo{
        position: fixed;
        width: 100vw;
        @include shadow;
        opacity: .8;       
    }
}

.navegacion-principal{
    display: flex;
    gap: 1.8rem;
    justify-content: center;
    a {
        display: flex;
        color: $blanco;
        font-size: 1.8rem;
        align-items: center;
        &:hover{
            color: $amarillo;
        }
    }

    .tickets{
        background-color: darken($rosa, 20);
        padding: 1rem;
        border-radius: 3px;

        &:hover{
            background-color: darken($rosa, 30);
        }
    }
}
