.lineup{
    background-color: $rosa;
    padding: 3rem 0;

    h2{
        position: absolute;
        right:0;
        margin: 2rem 4rem;
        width: 45%;
        background-color: $blanco;
        color: $rosa;
        text-align: center;
        padding: 1.2rem;
        text-transform: uppercase;
        @include shadow;
    }
    p{
        text-align: center;
        color: $blanco;
    }
    .dia18{
        font-family: $fuenteHeading;
        text-shadow: 2px 5px 0px #000000;
        letter-spacing: .4rem;
        font-size: 6rem;
        color: $verde;
        text-transform: uppercase ;
        margin: 13rem 0 3rem 0;
    }
    .dia19 {
        font-family: $fuenteHeading;
        text-shadow: 2px 5px 0px #000000;
        letter-spacing: .4rem;
        font-size: 6rem;
        color: $amarillo;
        text-transform: uppercase;
        margin: 3rem 0 3rem 0;
    }
}

.escenarios-contenedor{
    @include tablet{
        @include grid(2, 10rem);
    }

    .nombre-escenario{
        color: $negro;
        font-size: 2rem;
        font-weight: $thin;

        &:after{
            content: '';
            width: 20rem;
            height: 10rem;
            display: block;

            margin: 2rem auto 0 auto;
        }
    }
}