.video{
    position: relative;
    max-height: 60rem;
    overflow: hidden;

    .overlay{
       
        position: absolute;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#22aa98+0,f1f785+63,ef81ef+100&0.5+0,0.4+63,0.3+100 */
        background: -moz-linear-gradient(-45deg,  rgba(34,170,152,0.5) 0%, rgba(241,247,133,0.4) 63%, rgba(239,129,239,0.3) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(34,170,152,0.5) 0%,rgba(241,247,133,0.4) 63%,rgba(239,129,239,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(34,170,152,0.5) 0%,rgba(241,247,133,0.4) 63%,rgba(239,129,239,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8022aa98', endColorstr='#4def81ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
    video{
        display: block;
        width: 100%;
    } 
}


.contenido-video{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 1;
    
    h2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $blanco;
        font-size: 8rem;

        span {
            display: flex;
            flex-direction: column;
            background-color: $rosa;
            border-radius: 4px;
            font-size: 2.5rem;
            padding: .9rem 1rem;
            font-weight: $regular;
            margin: 4rem 0;
        }
    }
}